body{
    background: linear-gradient( 335deg, #b3d1ff, #ccccff, #ff66ff);
    color: white;
    font-family: 'Tajawal', sans-serif;
    margin: 10px;
}
.spinner {
  width: 70px;
  height: 70px;
  position: relative;
  margin: -30px auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#temperature{
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    font-size: 180px;
    
    background: -webkit-linear-gradient( 135deg, #b3d1ff, #ccccff, #ff66ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#title{
    text-align: center;
    font-size: 50px;
}
#temperature-information-desc{
    background: -webkit-linear-gradient( 135deg, #b3d1ff, #ccccff, #ff66ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}
#loading-wrapper{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: #23262b;
}
.loading{
    position: fixed;
    top: 35vh;
    left: 30vw;
    height: 20vh;
    width: 40vw;
    text-align: center;
    font-size: 40px;
}
.temperature-information{
    margin-left: 55%;
}
.temperature-details{
    float: left;
    background: -webkit-linear-gradient( 135deg, #b3d1ff, #ccccff, #ff66ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    font-size: 80px;
}
.temperature-heads-up{
    padding: 10px;
    background-color: rgba(35, 38, 43, 0.7);
    color: linear-gradient( 335deg, #b3d1ff, #ccccff, #ff66ff);
    position: fixed;
    border: 5px solid white;
    height: calc( 30vh - 20px);
    width: calc( 40vw - 20px);
    border-radius: 20px;
}
.outfit-title{
    background-color: rgba(35, 38, 43, 0.7);
    position: fixed;
    border: 5px solid #19d1ff;
    left: calc( 40vw + 30px );
    height: 15vh;
    width: calc( 60vw - 50px );
    border-radius: 20px;
}
.outfit-display{
    background-color: rgba(35, 38, 43, 0.7);
    position: fixed;
    border: 5px solid #19d1ff;
    left: calc( 40vw + 30px );
    top: calc( 15vh + 30px );
    height: calc( 85vh - 50px );
    width: calc( 60vw - 50px );
    border-radius: 20px;
}
.information-heads-up{
    background-color: rgba(35, 38, 43, 0.7);
    position: fixed;
    border: 5px solid #14ff7a;
    top: calc( 30vh + 30px );
    height: calc( 70vh - 50px );
    width: 40vw;
    border-radius: 20px;
}